html,
body {
  margin: 0;
  padding: 0;
}
canvas {
  display: block;
  max-height: 60vh;
  width: 100% !important;
  object-fit: contain;
}

/*//*/

body {
  background: #aaa;
  font-family: 'Courier New', Courier, monospace;
  margin: 20px;
}
.p5Canvas {
  margin: auto;
  animation-duration: 3s;
  animation-name: colorshift;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}
/*
@keyframes colorshift {
  0% {
    opacity: 1;
    filter: hue-rotate(0deg) invert(0);
  }

  50% {
    opacity: 0.4;
  }
  100% {
    opacity: 1;
    filter: hue-rotate(0deg) invert(100%);
  }
} */
